<p id="notice"><%= notice %></p>
<span><%= link_to "History", booking_history_path(@booking), title: "Show History" %></span>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
