<p id="notice"><%= notice %></p>
<span><%= link_to "History", document_history_path(@document), title: "Show History" %></span>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
